<div>
  {% include "@atoms/text/headings/_heading.twig" with {
    heading_level: 2,
    heading: colors_heading,
  } %}

  {% for palette in palettes %}
    <ul class="flex flex-wrap">
      {% for color in palette.colors %}
        <li class="w-1/5 py-6 px-5 mb-4 mx-4 {{ color.class }} {{ color.text_class }}">
          <span>{{ color.class }}</span>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>
